.page {
    display: flex;
    align-items: flex-start;
    gap: var(--current-padding);
    height: auto;

    &_categories {
        flex: 80% 1 1;
        display: flex;
        flex-direction: column;
        gap: calc(40rem / var(--mobile-font-size-uniteless));
    }
    &_menu {
        flex: auto 1 1;
    }

    @media (max-width: 1130px) {
        display: block;
    }
}
.page:has(.menu__active) {
    overflow: hidden;
}

.menu {
    &_button {
        background-color: transparent;
        border-radius: calc(20rem / var(--mobile-font-size-uniteless));
        position: fixed;
        top: var(--current-padding);
        right: var(--current-padding);
        visibility: hidden;
        cursor: default;

        &__open {
            width: calc(50rem / var(--mobile-font-size-uniteless));
            height: calc(50rem / var(--mobile-font-size-uniteless));
            background-color: var(--menu-button-background-color);
            opacity: 0.75;

            &:hover {
                opacity: 0.85;
            }
            &:active {
                opacity: 1;
            }
        }
    }

    @media (max-width: 1130px) {
        background-color: var(--menu-mobile-background-color);
        padding: var(--current-padding);
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow-y: scroll;

        &__active {
            visibility: visible;
        }

        &_button {
            visibility: visible;
        }
        &__active &_button__open {
            visibility: hidden;
        }
        &:not(&__active) &_button__close {
            visibility: hidden;
        }
    }
}
.navigation {
    &_category {
        margin-bottom: calc(20rem / var(--mobile-font-size-uniteless));

        & > * {
            margin-bottom: calc(4rem / var(--mobile-font-size-uniteless));
        }
    }
    &_link {
        color: inherit;
        text-decoration: underline;
        display: block;

        &:hover {
            text-decoration: none;
        }
    }
}

.category {
    &_sections {
        display: flex;
        flex-direction: column;
        gap: calc(40rem / var(--mobile-font-size-uniteless));
    }
}
.section {
    &_words {
        display: grid;
        grid-template-columns: repeat(4, max-content);
        gap: calc(20rem / var(--mobile-font-size-uniteless));

        @media (max-width: 1130px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 700px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    &_description {
        margin-top: calc(14rem / var(--mobile-font-size-uniteless));
    }
}

.word {
    display: flex;
    gap: calc(14rem / var(--mobile-font-size-uniteless));

    &__size-2 {
        grid-column-start: span 2;
    }
    &__size-3 {
        grid-column-start: span 3;
    }
    &__size-4 {
        grid-column-start: span 4;
    }

    &_chinese {
        display: flex;
        flex-direction: column;
        gap: calc(4rem / var(--mobile-font-size-uniteless));
    }
    &_hieroglyph {
        white-space: nowrap;
    }
    &_pinyin {
        opacity: 0.85;
        color: var(--pinyin-color);
    }
    &_translations {
        opacity: 0.85;
    }
    &_translation.translation:not(:last-child) {
        margin-bottom: calc(4rem / var(--mobile-font-size-uniteless));
    }

    @media ((max-width: 1220px) and (min-width: 700px)) or (max-width: 510px) {
        &:not(&__size-1) {
            flex-direction: column;
        }

        &_chinese {
            flex-direction: row;
            gap: calc(14rem / var(--mobile-font-size-uniteless));
        }
    }
    @media (max-width: 1130px) {
        &__size-4 {
            grid-column-start: span 3;
        }
    }
    @media (max-width: 700px) {
        &__size-3,
        &__size-4 {
            grid-column-start: span 2;
        }
    }
}
.translation {
    &_text {
        display: inline;
    }
    &_list-number {
        display: inline;
        color: var(--translation-list-numbers-color);
    }
}
