.page {
    height: auto;

    &_content-wrapper {
        display: flex;
        align-items: flex-start;
        gap: var(--current-padding);
    }

    &_categories {
        flex: 80% 1 0;
        display: flex;
        flex-direction: column;
        gap: calc(40rem / var(--mobile-font-size-uniteless));
    }
    &_nav {
        flex: auto 0 1;
    }
    &_header {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 10;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    @media (max-width: 1330px) {
        // display: block;
    }
}
@media (max-width: 500px) {
    .page:has(.nav__mobile-active) {
        overflow-y: hidden;
    }
}

.category {
    &_sections {
        display: flex;
        flex-direction: column;
        gap: calc(40rem / var(--mobile-font-size-uniteless));
    }
}
.section {
    & > *:not(:last-child) {
        margin-bottom: calc(20rem / var(--mobile-font-size-uniteless));
    }

    &_words {
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: calc(20rem / var(--mobile-font-size-uniteless));

        @media (max-width: 1130px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 700px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    &_table {
        min-width: 100%;
    }
}

.table {
    border-radius: calc(12rem / var(--mobile-font-size-uniteless));
    border-collapse: collapse;
    overflow: hidden;

    &_row:not(:first-child):not(:last-child) {
        border-bottom: calc(2rem / var(--mobile-font-size-uniteless)) solid var(--overlay-light);
    }
    &_cell {
        text-align: center;
        padding: calc(8rem / var(--mobile-font-size-uniteless)) calc(16rem / var(--mobile-font-size-uniteless));
    }
    &_header {
        background-color: var(--weak-yellow);
        color: var(--black);
    }
    &_data {
        background-color: var(--overlay-dark);
    }
}

.word {
    display: flex;
    gap: calc(14rem / var(--mobile-font-size-uniteless));

    &__size-2 {
        grid-column-start: span 2;
    }
    &__size-3 {
        grid-column-start: span 3;
    }
    &__size-4 {
        grid-column-start: span 4;
    }

    &_chinese {
        display: flex;
        flex-direction: column;
        gap: calc(4rem / var(--mobile-font-size-uniteless));
    }
    &_hieroglyph {
        white-space: nowrap;
    }
    &_pinyin {
        opacity: 0.85;
        color: var(--pinyin-color);
    }
    &_translations {
        opacity: 0.85;
    }
    &_translation.translation:not(:last-child) {
        margin-bottom: calc(4rem / var(--mobile-font-size-uniteless));
    }

    @media ((max-width: 1220px) and (min-width: 700px)) or (max-width: 510px) {
        &:not(&__size-1) {
            flex-direction: column;
        }

        &_chinese {
            flex-direction: row;
            gap: calc(14rem / var(--mobile-font-size-uniteless));
        }
    }
    @media (max-width: 1130px) {
        &__size-4 {
            grid-column-start: span 3;
        }
    }
    @media (max-width: 700px) {
        &__size-3,
        &__size-4 {
            grid-column-start: span 2;
        }
    }
}
.translation {
    &_text {
        display: inline;
    }
    &_list-number {
        display: inline;
        color: var(--translation-list-numbers-color);
    }
}
